body{
  background: #eee;
  font-family: 'Roboto', sans-serif;
}
.page-header, .page-body {
    width: auto;
    height: auto;
    margin: 0 auto;
    overflow:hidden;

}
h1{
      text-align: center;
      padding-top: 10px;
}
.c{
position: fixed;
top: 2px;
right: 5px;
font-size: 14px;
}
#scene{
  z-index: 500;
  margin-top: 5px;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
      outline: none;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    outline: none;
}
.center {
  height: 600px;
  text-align: center;
}

/* If the text has multiple lines, add the following: */
.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
input:focus {
    outline:none;
}
